<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/static/css/base.css">
    <title>Document</title>
</head>
<body>
    <div class = "navBar">
        <div class = "logo">TravelRecs</div>
        <ul class = "nav-links">
            <div class = "links" style = "float:right;"><a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                <div class = "login"><a href = "{% url 'logout' %}">Logout</a></div>
                <a href = "{% url 'favoritesList' %}">Favorites</a>
            {% else %}
                <div class = "login"><a href = "{% url 'register' %}">Register</a>
                <a href = "{% url 'login' %}">Login</a></div></div>
            {% endif %}
        </ul>
    </div>

    {% block content %}

    {% endblock %}

</body>
</html>